[2019-12-19 02:14] coolsnake opened #132 "Can you implement kriging with barriers?"
I know interpolation with barriers.
Can you take into account barriers( maybe a point or a line such as mountain effect)?
Thanks.

[2019-12-30 06:06] ellawang44 opened #133 "4D Ordinary Kriging?"
Hi,

Is it possible to implement a 4D ordinary kriging object? I've had a look through the ok3d.py file but I'm not sure how to change the adjusted arrays to include another dimension. I'm aware that kriging is usually done in 2D or 3D but I have a specific 4D data set I'd like to use this on.

Thanks

[2020-01-13 18:37] carlosfelg opened #134 "Getting kriging interpolated grid with None values where the samples are far from the semivariogram range"
How can I get an interpolated grid with None (or no data) values where all the data neighbours (samples) are far from the variogram range value? I mean, I would like to use the variogram range value as constraining when there is no input data inside the range radio.

[2020-01-23 10:47] victortm opened #135 "ValueError"
Hi,

I'm trying to get a variogram using pykrige.ok.OrdinaryKriging function but I'm getting the next error:

![image](https://user-images.githubusercontent.com/10722495/72977649-35e8d080-3dd5-11ea-929c-e01d027546fc.png)

I'm passing float values and longitude/latitude coordinates in decimal degrees.

I don't know if it could be related to this issue but I've found something that doesn't make so m

[2020-01-26 21:09] MuellerSeb commented on #135
Could you provide a minimal example to reproduce the error?

[2020-01-26 21:13] MuellerSeb commented on #134
What do you mean by "variogram range value"? I really don't understand what you mean.
To try a shot in the dark, one thing of interest could be the estimated mean for ordinary krging. Do you mean that?

[2020-01-26 21:15] MuellerSeb commented on #133
The isotropic case shouldn't be to hard, since we only need the distance between points.
The problem is the characterization of rotation in higher dimensions, which is really non-trivial.

An implementation approach could include an N-dimensional implementation for isotropic variogram models.

[2020-01-26 21:16] MuellerSeb commented on #132
Could you give some more hints? Are you interested in making a pull request?

[2020-01-27 09:01] MuellerSeb opened #136 "GeoStat-Framework integration: PyKrige v2"
# Hurray! PyKrige is now part of the GeoStat-Framework

Now we have to think about, how to smoothly integrate PyKrige into this Framework and how to organize the coexistence with [GSTools](https://github.com/GeoStat-Framework/GSTools).

With this PR: https://github.com/GeoStat-Framework/GSTools/pull/67 in GSTools a set of kriging routines is introduced in GSTools:
- simple kriging
- ordinary krigi

[2020-01-27 10:36] victortm commented on #135
Of course.

There you have some samples I'm working with:

![image](https://user-images.githubusercontent.com/10722495/73167893-026db500-40f9-11ea-96f5-2a59c9084a00.png)

Ignore ID parameter.

And this is how I'm calling the function:

![image](https://user-images.githubusercontent.com/10722495/73167945-23cea100-40f9-11ea-95f6-fba3b32f49b1.png)

[2020-01-27 11:22] MuellerSeb commented on #135
In your example all data is in the same location. So the bining of the data for the variogram estimation results in degenerate Intervals. I get the same error with:

[code]
[code]

**Your data-locations need to be pairwise different!**

[2020-01-27 11:22] #135 closed, assigned to MuellerSeb

[2020-01-27 13:30] carlosfelg commented on #134
Dear Sebastian,

Thanks a lot for your reply.

I am considering
that the variogram (used for ordinary kriging) has 4 parameters: Model
(spheric, exponential, gaussian,...), Nugget Effect, Contribution
(nugget effect + contribution= sill) and Range (the maximum distance for
spatial data correlation).

I have been used the pykrige ordinary
kriging and I have found that the interpolation is made in a

[2020-01-28 03:26] bsmurphy commented on #136
Thanks for taking this on, @MuellerSeb! A few quick thoughts on this...

The tools for variogram estimation/modeling/etc in PyKrige are admittedly underdeveloped, so relying on your efforts in GSTools would be good I think. Probably won't be too hard to refactor the existing PyKrige code to use the GSTools variogram code.

I think refactoring to ND kriging would be very valuable, and actually shou

[2020-01-28 10:54] MuellerSeb commented on #134
In [OrdinaryKriging.execute](https://github.com/GeoStat-Framework/PyKrige/blob/a31dbbb9ee22d89da2378f28dc11c0d882ae564d/pykrige/ok.py#L578)

https://github.com/GeoStat-Framework/PyKrige/blob/a31dbbb9ee22d89da2378f28dc11c0d882ae564d/pykrige/ok.py#L578

you can set ``n_closest_points`` to only take a certain amount of nearby values into account. Maybe this is helps?

[2020-01-28 11:18] victortm commented on #135
Thanks, now works!

[2020-01-28 12:18] MuellerSeb commented on #135
Solved.

[2020-01-28 12:45] rth commented on #136
Thanks for the summary @MuellerSeb ! The plan sounds good to me as well.

One constrain is backward compatibility, and how to make that transition without breaking existing users code. Maybe adding  GSTool variogram-models and adding a deprecation warning for some of the current options that would be changed in the future.

+1

That would be ideal indeed, though it would likely require some work.

[2020-01-28 12:50] MuellerSeb commented on #136
@rth : I would create a 1.5 version incorporating GSTools as proposed in #125 . We could add deprecation warnings there.

Everything else should be done within a 2.0 release, where we can break backward-compatibility since the major version number changes. I would keep all the variogram models, just rescale them. So in the case, where the variogram was estimated, we should get same results.

We ar

[2020-01-28 13:24] carlosfelg commented on #134
What distance value is considered, inside the ordinary kriging function, to define the closest points? The n_closest_points parameter is the minimum or the maximum number of closest points?

[2020-01-28 13:29] carlosfelg commented on #134
Dear Sebastian,

I have tried to use the n_closest_points parameter
but it seems that it does not work properly.

What distance value is
considered, inside the ordinary kriging function, to define the closest
points? The n_closest_points parameter is the minimum or the maximum
number of closest points?

Regards

-
Carlos A Felgueiras
Computer
Science PhD
SPRING GIS Software Manager
Image Processin

[2020-01-28 14:02] MuellerSeb commented on #134
``n_closest_points`` is exact unless there are less data points in total. The n clostest points are determined by scipys [KDTree](https://docs.scipy.org/doc/scipy/reference/generated/scipy.spatial.KDTree.html#scipy.spatial.KDTree)

What exactly do you mean?

[2020-01-28 16:41] rth commented on #136
You are right, making these changes in 2.0 would probably be best.

[2020-01-29 12:56] carlosfelg commented on #134
My doubt is: What is the distance value for a point to be considered
a closer point?

Em 28-01-2020 11:02, Sebastian Müller escreveu:

n_closest_points is exact unless there are less data points in total.
The n clostest points are determined by scipys KDTree [1]

it seems that it does not work properly.

state.

unsubscribe [3].

--
Carlos A Felgueiras
Computer Science PhD
SPRING
GIS Software Mana

[2020-01-29 22:00] MuellerSeb commented on #134
The number of the closest points is fixed and not  determined by a search radius. If you have a dense data set, the n closest points would be rather near.

This needs to be improved in the future.

[2020-01-31 03:36] coolsnake commented on #132
One application of kriging algo is to calculate the atmospheric corrosion in the specified area where there may be mountains. The atmospheric corrosions are different on both side of the mountain because mountain can hinder the flow of the Air Pollution.

[2020-01-31 18:15] victortm opened #137 "Terminado(killed) response"
Hi again,

Now I'm trying to get a variogram using meter coordinates and I get this error:

![image](https://user-images.githubusercontent.com/10722495/73591232-50fdc380-44ec-11ea-993f-2b1008383cad.png)

Function calling:

![image](https://user-images.githubusercontent.com/10722495/73563584-fb7ad580-445d-11ea-9d5e-3d4aca892e7f.png)

Please find attached some samples that I'm working with to reprod

[2020-02-01 01:40] MuellerSeb opened #138 "[Proposal] Rotation and Anisotropy in N-D"
In order to provide N-D kriging, we should think about, what rotation and anisotropy means in higher dimensions.

My proposal is:

# Rotation

- in N-D we can describe rotation with M angles:
  <img src="https://latex.codecogs.com/gif.latex?R=(\alpha_1,\ldots,\alpha_M)" title="R=(\alpha_1,\ldots,\alpha_M)" />
  where M is the number of 2D sub-spaces (from main axis):
  <img src="https://latex.code

[2020-02-01 10:52] MuellerSeb commented on #137
Could you  solve the problem, since you have closed the issue?

[2020-02-01 11:19] victortm commented on #137
Sorry, I closed the issue cause I wasn't working with meters, I was using nautic miles. Now that I've changed it I've got the error that I've described above (issue edited).

Thanks!

[2020-02-01 12:52] rth commented on #138
It is indeed a valid point that I haven't considered before. I'm not competent on this subject, so I can't really give you useful input on this proposal.

As a side note, we don't necessarily have to resolve this for N-D krigging refactoring. Having one interface for 1D, 2D, 3D would already be great and address most common use cases. In a first approach one could say that N > 3 are not supported,

[2020-02-05 09:25] victortm commented on #137
Did you have the chance to check this issue?

Thanks!

[2020-02-05 16:15] MuellerSeb commented on #137
Since you are using at about 10000 data points, I guess your cdist matrix is getting too big for your memory. That's why you get the MemError. Maybe you could downsample your date?

[2020-02-07 15:19] MuellerSeb commented on #138
With the above formulation, it should be quite easy to implement. So we can get rid of different classes for different dimensions.

PS: I updated the issue to fix some wrong calculations.

[2020-02-09 22:30] bsmurphy commented on #138
This looks good to me, and shouldn't be too hard to implement for arbitrary dimensions. At one point, @rth had suggested refactoring the rotation/scaling into a general 'anisotropy transformation' that could be implemented as part of a pipeline, similar to how things are done in scikit-learn. Maybe worth separating the anisotropy stuff out from the whole kriging code (currently the anisotropy adju

[2020-03-13 10:18] AmosJoseph opened #139 "Hierarchical kriging model for variable-fidelity surrogate modeling"
Excuse me,can PyKrige conduct Hierarchical kriging model for variable-fidelity surrogate modeling?

Best regards!

[2020-03-14 00:55] antunesleo opened #140 "Ordinary Kriging Complexity"
What's the ordinary kriging complexity?

 I've been searching for the ordinary kriging algorithm complexity but couldn't find it. I found a lot of papers and academic stuff, but I don't have the background to understand it. Big O notations it's something that I can actually understand before studying the kriging process deeply!

The complexities of the other kriging types is usefull as well.

I ap

[2020-03-14 12:12] rth commented on #140
Independently of the theoretical complexity the most reliable apporach I think is to measure it. For instance on randomly distributed data, changing the number of samples and running krigging on a 100x100 grid the script below produces,
[code]

so the time complexity is roughly O(n_samples²) both for the `__init__` and the `execute` method. The memory usage complexity also seem to be O(n_samples²)

[2020-03-14 16:59] antunesleo commented on #140
Thank you @rth, this script helped a lot! I had an issue printing the output but I did a workaround, so my outputs are not cool like yours. Follow the error.

`print(res.unstack(-1).round(2))`

[code]

I did some simple experiments that I would like to share.

### TIME COMPLEXITY

### Samples time complexity
Checking time variation between 50 to 6400 samples
[code]

If we plot this in a chart and

[2020-03-14 17:41] rth commented on #140
You need to install pandas, then the output will be a pandas.DataFrame instead of a list of dict.

Yes,  O(m n²) for both time and memory complexity sounds plausible to me.
For memory, it should be better e.g.  O(m n) for `execute(..., backend='C')` and providing `n_closest_points`, need to check.

Obviously O(n²) is not great, and we should try to reduce it if possible (also see https://github.co

[2020-03-15 14:32] antunesleo commented on #140
I did a couple of tests. For **C backend**, the **memory usage decreases** but **time execution increases** a lot. When using `n_closest_points`, the memory usage was reduced but with a similar execution time. Check the results.

### NORMAL
[code]

### BACKEND C
[code]
### BACKEND C with `n_closest_points`

[code]

If we didn't provide  `n_closest_points`, does it consider all the samples? Note th

[2020-03-24 06:39] srimaljq1 opened #141 "Unrealistic output"
Hi
Nice library. I'm fairly new to kriging have simple dataset of 50 points, where the **data values are non-negative** but ordinary krigging gives me a lot of **negative predictions** on the same grid as the original data.

So for e.g:
 OK = OrdinaryKriging(d.x, d.y, d.v, verbose=True, variogram_model='linear',enable_plotting=True)
 z, ss = OK.execute('grid',d.x, d.y)

z gives has values such as

[2020-03-24 14:04] MuellerSeb commented on #141
Could you provide data and a script to reproduce the problem?

[2020-03-24 23:59] srimaljq1 commented on #141
Hi

Here is a colab notebook which reproduces the problem (with the data):

https://colab.research.google.com/drive/1vbVhLfHt-C-_R84bxuKMMyuskegTpUMa

Based on my understanding (which may not be correct) here are the original and predictions for the same data points which show negative predictions

![image](https://user-images.githubusercontent.com/62587687/77487794-19bdea00-6e7f-11ea-88a3-2e6749a

[2020-03-25 04:28] antunesleo commented on #141
Shouldn't the grid size in the execute method be different (bigger) than the initialization grid?

[2020-03-25 05:19] srimaljq1 commented on #141
Hi

First of all, let me warn you that I'm fairly new to kriging :-)

My intention here was to see what value the interpolation would give on the original data used to build the model, which is why I passed on x and y values..

Could you please explain or point to something which explains why

Thanks

[2020-03-25 08:31] MuellerSeb commented on #141
It doesn't need to, but it should reproduce the data.

## Making an educated guess
Your data is not suitable to fit a variogram, since you result in a really high nugget and a fairly low slope in the estimated variogram. This again means, that your kriging matrix is almost singular, which results in numerical errors during the execution of ordinary kriging. And that eventually results in the erron

[2020-03-25 23:57] srimaljq1 commented on #141
Thanks for the insights and link.

I've added in an interactive 3D scatter plot in https://colab.research.google.com/drive/1vbVhLfHt-C-_R84bxuKMMyuskegTpUMa

On that note, are there any standard tests I can perform on the data to assess if its suitable for kriging at all or which type of kriging to use? If so can I use pykrige for the assesment?
I'm thinking of something similar to performing a si

[2020-03-26 03:24] antunesleo commented on #141
In the business cases in the company I work for, we interpolate geospatial data. So, the grid we predict is always bigger than the sample grid. I didn't understand why predict a grid that I already know the all values.
About the kriging, I know some practical stuff but I suck in theorical concepts!

Maybe a good test to do is have an real world geospatial data, for example a 100x100 grid that you

[2020-03-26 03:29] srimaljq1 commented on #141
Thanks for the input.

Answering myself, the negative predictions I got could be due to lack of proper parameter tuning. I've looked at the first variagram and changed parameters to get a model with a much lower nugget and more realistic predictions in the bottom half of that notebook. Perhaps I could use pykrige-cv for a more rigorous parameter tuning.

Btw that data is a subset of samples extrac

[2020-03-26 04:15] srimaljq1 commented on #141
My understanding of kriging  is not sufficient to say if its should be identical, but I would atleast expect them to be similar (so not -14.0 for a value of 0.2 for e.g)

[2020-03-26 16:04] MuellerSeb commented on #132
Couldn't this be done with an special external drift?

[2020-03-26 17:01] MuellerSeb opened #143 "Adaptation to sklearn"
sklearn provides a lot of functionality, we could use to simplify our code.

Distance matrix calculation:
https://scikit-learn.org/stable/modules/generated/sklearn.metrics.pairwise_distances.html

KDtree:
https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KDTree.html

Search radius to optimize moving window kriging (See: #57):
https://scikit-learn.org/stable/modules/generated/skle

[2020-03-26 17:34] rth commented on #143
Yes, I think that would be a good idea. I'm all for better integration with scikit-learn in general https://github.com/GeoStat-Framework/PyKrige/issues/31

When improving the API for 2.0, making one that's compatible with scikit-learn if possible would be useful https://scikit-learn.org/stable/developers/develop.html#rolling-your-own-estimator

[2020-03-26 17:50] MuellerSeb commented on #141
You changed parameters result in a non-singular kriging-matrix, which results in more accurate results.
Maybe your subset is a bit to sparse, since it show really a high nugget. The bad results are really just numerical artifacts IMO. The routines in numpy to invert the matrix are sometimes a bit erroneous.

@antunesleo : kriging is based on two-point statistics and the concept of the variogram. S

[2020-03-26 17:50] #141 closed, assigned to MuellerSeb

[2020-03-26 18:05] MuellerSeb commented on #139
Hey there,
At the moment we don't plan to implement this.
AFAIK, HK can be seen as an extension to external drift kriging (EDK), so you could create a workflow that mimics HK with pykrige in two steps:
- first use ordinary kriging for the low-fidelity part
- then use external driftt kriging for the high-fidelity part (with the low fidelity part as external drift)

Hope that helps. (See here: https

[2020-03-26 18:14] MuellerSeb commented on #137
Closing due to inactivity. Feel free to re-open.

[2020-03-26 18:14] #137 closed, assigned to MuellerSeb

[2020-03-26 18:14] #139 closed, assigned to MuellerSeb

[2020-03-26 18:18] MuellerSeb commented on #134
#143 addresses the missing search radius.

Closing for now due to inactivity. Feel free to re-open.

[2020-03-26 18:18] #134 closed, assigned to MuellerSeb

[2020-03-26 18:38] MuellerSeb commented on #143
@rth Could you draft a general workflow for the integration with sklearn? I have to learn a bit more about sklearn to get to know the dos and don'ts..

[2020-03-26 18:49] rth commented on #143
Essentially one could start with minimal functionality along the lines of,
[code]
where `X` is `(n_samples, n_features)` array (with for now `n_features` = 2 or 3 being supported only).

Looking at the usage of [GaussianProcessRegressor](https://scikit-learn.org/stable/modules/generated/sklearn.gaussian_process.GaussianProcessRegressor.html) in scikit-learn could be a start. Then one would progres

[2020-03-26 23:13] MuellerSeb commented on #143
So we should have a look at:
https://github.com/scikit-learn-contrib/project-template

[2020-03-26 23:19] rth commented on #143
Worth looking into but there are also things outdated there.

[2020-03-26 23:29] MuellerSeb commented on #143
OK. In the end I am thinking of a single class for kriging where the dimension is just a parameter. And since Ordinary kriging is just universal kriging with a constant drift (or simply an unbiased estimator), we could combine all 4 kriging classes that are present at the moment.
When providing these in the proposed sklearn way, we can even get rid of the RK class. Which sounds nice to me.

You on

[2020-03-27 00:15] srimaljq1 commented on #141
Yes its been very helpful. Thanks!

[2020-03-27 04:06] AmosJoseph commented on #139
OK，many thanks！

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Sebastian Müller"<notifications@github.com&gt;;
发送时间: 2020年3月27日(星期五) 凌晨2:05
收件人: "GeoStat-Framework/PyKrige"<PyKrige@noreply.github.com&gt;;
抄送: "Joseph"<544591929@qq.com&gt;; "Author"<author@noreply.github.com&gt;;
主题: Re: [GeoStat-Framework/PyKrige] Hierarchical kriging model for variable-fidelity surrogate modeling (#1

[2020-03-27 11:39] rth commented on #143
When providing these in the proposed sklearn way, we can even get rid of the RK class. Which sounds nice to me.

Yeah, the implementation could be a single class for kriging. The dimension could just be determined from the `X.shape[-1]` passed to `fit` method. Though having `OrdinalKriging` / `UniversalKriging` aliases still might not hurt (if only so that people find them when searching for those

[2020-03-28 11:51] MuellerSeb commented on #143
One question I have about the pre-processor is: What should be fitted?
Only thing we want is, to transform the coordinates with the rotation-angles and anisotropy ratios given (we can't fit these, since we would need to fit a spatial variogram to the data to achive this, which is quite hard for a sparse data set)

So we would only use `transform` with fixed parameters (angles, ratios), right?

[2020-03-28 12:23] rth commented on #143
Only thing we want is, to transform the coordinates with the rotation-angles and anisotropy ratios given (we can't fit these, since we would need to fit a spatial variogram to the data to achive this, which is quite hard for a sparse data set)

If fit does nothing, it's fine. But it's still needs to be there for API compatibility,

[code]
The base classes are necessary to,
 - `BaseEstimator` marks

[2020-03-29 10:31] MuellerSeb commented on #136
One problem, that comes up, when bringing the variogram models in line, is that all models in GSTools are stationary and assume a finite sill of the variogram. So these are incompatible ATM:

* Linear Model
* Power Model

In GSTools, the [linear model](https://geostat-framework.readthedocs.io/projects/gstools/en/stable/generated/gstools.covmodel.Linear.html#gstools.covmodel.Linear) is a truncated

[2020-04-04 14:52] MuellerSeb opened #146 "Conda-forge recipe update"
ATM the automatically created update is broken:
https://github.com/conda-forge/pykrige-feedstock/pull/9

I will create a PR with an updated recipe, incorporating the recent changes. I'll also add my self as maintainer.

@rth you need to merge it then.

[2020-04-04 16:02] MuellerSeb commented on #146
Done. Here we go: https://anaconda.org/conda-forge/pykrige

[2020-04-04 16:02] #146 closed, assigned to MuellerSeb

[2020-04-04 17:00] MuellerSeb commented on #133
We will discuss this here: #138. Closing for now. Feel free to Re-open or (better) discuss in the linked issue.

[2020-04-04 17:00] #133 closed, assigned to nobody

[2020-04-04 17:20] MuellerSeb commented on #140
Cython pre-build wheels are now provided for `v1.5`
We will refactor the whole process in `v2`. See: #136 #143

[2020-04-05 04:44] bsmurphy commented on #136
Sorry for not commenting on this sooner. The linear and power variogram models in PyKrige aren't stationary as defined, and so I suppose then they're not true covariance functions (if I'm remembering the underlying mathematical formalism correctly). I originally included them in the code for completeness following the Kitanidis geostats text. But makes sense to have all variogram models be true co

[2020-04-06 22:45] MuellerSeb commented on #143
I was digging through the sklearn code and it seems, that you can't use the kdtree directly in cython ([link](https://stackoverflow.com/questions/57697577/sklearn-internals-access-cython-classes-and-functions)). Since it would be good to prevent the python-overhead in creating the distance matrix, I would suggest forking the critical parts of sklearn.neighbors ([link](https://github.com/scikit-lea

[2020-04-07 10:27] rth commented on #143
Do you think there is no way of doing this without using KDTree/Balltree from cython? E.g. computing the calculation in small batches or using sparse distance matrices. See e.g. [`KNeighborsTransformer`](https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsTransformer.html#sklearn.neighbors.KNeighborsTransformer) and the [Aproximate nearest neighbours example](https://scik

[2020-04-07 10:48] MuellerSeb commented on #143
If we can't use the KDTree in cython, the loop over the gird-points needs to be done in python, or the full-distance matrix needs to be constructed and passed to cython to do the loop there. In the first case, we get a massive overhead in time, in the second case we get a massive overhead in memory consumption.

It seems, that the sklearn team doesn't want to provide kdtree for cython, since they

[2020-04-07 10:52] rth commented on #143
Not if we use a sparse distance matrix (that only stores K nearest neigbours for each point).

You could try opening an issue about it there, but I do anticipate mostly negative feedback indeed due to maintenance costs.

[2020-04-07 13:42] MuellerSeb commented on #143
If we use only K nearest neighbors, we still can't provide a search radius for the moving window. K-nearest neigbors always depend on the densitiy of the input data.

[2020-04-07 13:48] rth commented on #143
I think it should also be possible to create a sparse distance matrix for neighbors within a given radius: i.e. a `KNeighborsTransformer` but that uses `radius_neighbors_graph` internally instead of `kneighbors_graph` from [`NearestNeighbors`](https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.NearestNeighbors.html#sklearn.neighbors.NearestNeighbors.radius_neighbors_graph). But I

[2020-04-13 22:09] MuellerSeb commented on #138
I am planing to include the transformation matrices in the covariance model in `GSTools`, so we can simply use it in PyKrige later on. See: https://github.com/GeoStat-Framework/GSTools/issues/77

[2020-04-21 16:28] LSchueler commented on #138
I really like the idea. I've started a GSTools [PR](https://github.com/GeoStat-Framework/GSTools/pull/82) to get things started.

[2020-04-28 15:01] NikhilDupally opened #148 "Custom variogram example"
Could you provide an example of using a custom variogram function?

[2020-05-01 10:00] MuellerSeb commented on #148
Hey there,

you can use a CovModel from GSTools:
https://geostat-framework.readthedocs.io/projects/pykrige/en/stable/examples/gstools_covmodel.html#sphx-glr-examples-gstools-covmodel-py

And you can easily define your own one, as described here:
https://geostat-framework.readthedocs.io/projects/gstools/en/stable/examples/02_cov_model/00_intro.html#introductory-example

Does that help?

[2020-05-01 10:06] NikhilDupally commented on #148
Is there any way i could use variogram from scikit-Gstat module.

[From here](https://mmaelicke.github.io/scikit-gstat/reference/variogram.html#skgstat.Variogram.__init__)
with the above parameters.

[2020-05-01 10:15] MuellerSeb opened #149 "Geographical models"
It was shown, that the current approach of plugging in the great-circle distance directly into the covariance/variogram function does not automatically result in a valid covariance model on the sphere.

To overcome this flaw, we should use the so called **Yadrenko Covariance Function** (See [here](https://www4.stat.ncsu.edu/~guinness/papers/guinnessfuentesspheres.pdf)).
Starting with a valid isotr

[2020-05-01 10:17] MuellerSeb commented on #148
As far as I know, scikit-gstat provides some basic kriging functionality itself.
But it is not possible to use their variogram-models with PyKrige.

[2020-05-01 11:43] mjziebarth commented on #149
That is an interesting paper (and line of research) that I had not been aware of when I first implemented the great-circle distance. Do you happen to know how conclusive the research is overall with regards to that models in Euclidean space do not perform worse than models using the great circle distance?

Then I have one suggestion: From what I understand, the Yadrenko model lifts the great circl

[2020-05-01 11:48] MuellerSeb commented on #149
Hey Malte,
Thanks for your thoughts on that. I don't think that it lifts back the distance to 3D, since it directly depends on the great circle distance. I also found some other papers about that and the keypoint is to create valid covaraince models, meaning "conditional negative semidefinite" ones.
I would suggest implementing a great-circle cdist, analog to scipys cdist to speed things up when u

[2020-05-01 12:18] mjziebarth commented on #149
Hey Sebastian,

with the comment I was referring mostly to one sentence of the paper that you linked (p. 3):

Directly after this, there is an equation that equates the Euclidean or chordal distance to the expression ```2*sin(theta/2)``` where ```theta``` is the great circle distance, i.e. the expression you suggested to use for plugging great circle distance into the Euclidean covariance models.

[2020-05-01 15:12] MuellerSeb commented on #149
Ahhh! Thanks for the enlightenment! This could change a lot of stuff. I need to think about that.

[2020-05-02 12:40] MuellerSeb commented on #149
I would suggest using the Yadrenko models as the standard interpretation for geo-coordinates. Then we can drop the whole haversine procedures and just calculate the fields in 3D (with a little memory overhead for the third positional dimension).

This way we can ensure, that the used model is really a conditionally negative semi-definite (CNSD, abbreviation used by *Webster 2007*) one. As mentione

[2020-05-04 18:09] #148 closed, assigned to MuellerSeb

[2020-05-04 18:10] NikhilDupally opened #150 "LinAlgError: singular matrix Error"
I got this error while using Ordinary kriging.
Is there any workaround for this?

[2020-05-05 07:33] MuellerSeb commented on #150
This is related to https://github.com/GeoStat-Framework/GSTools/issues/89 and https://github.com/GeoStat-Framework/GSTools/issues/79#issuecomment-615843518

We will use the pseudo inverse in the future to calculate the kriging weight by a least-square approach, if the system is singular.

At the moment, the only thing you could try is to reduce the number of conditional points, so the kriging matr

[2020-05-05 12:34] mjziebarth commented on #149
Hi Sebastian,

to me this sounds good! I have two minor comments:
- I'm not sure how the policy of behavior changes is for GeoStat / PyKrige, but maybe it would make sense to deprecate the old geographic support and make sure that people are aware of the change. I think this could be easily done in context of the other refactoring.
- One thing worth thinking about is to make sure people are aware

[2020-05-05 12:39] MuellerSeb commented on #149
@mjziebarth : I would suggest doing this within the [GS-Framework 2.0 project](https://github.com/orgs/GeoStat-Framework/projects/1).
By increasing the major version of `Pykrige` and `GSTools` we can break backward compatibility.
We can still keep `v1.x` of PyKrige alive, but I wouldn't introduce a deprecation cycle there.
Of course, we have to well-document this change and the behavior.

[2020-05-05 13:31] MuellerSeb commented on #150
You could try PyKrige from this branch: https://github.com/GeoStat-Framework/PyKrige/tree/pseudo_inv

You can directly install it with pip:
[code]

be sure to provide cython beforehand.

In this branch, the inverse is calculated by the pseudo-inverse.

[2020-05-05 16:25] mmaelicke commented on #148
@NikhilMunna, while @MuellerSeb is right that you cannot pass the scikit-gstat Variogram to pykrige, there is an experimental interface.
In fact, the Github version of scikit-gstat has an interface to pykrige. It will be released with the 0.2.8 release on PyPI. It is still experimental and is thus neither documented nor tested in detail. I am planning to do that in the next weeks...
Here: https://

[2020-05-06 15:33] NikhilDupally opened #152 "Simple Kriging"
I am a newbie to geostatistics. How can we implement Simple Kriging using pykrige
I didn't find any example in documentation.

[2020-05-09 09:23] MuellerSeb commented on #152
Simple kriging is not implemented in PyKrige ATM.
But in GSTools, we provide it: https://geostat-framework.readthedocs.io/projects/gstools/en/stable/examples/05_kriging/00_simple_kriging.html#sphx-glr-examples-05-kriging-00-simple-kriging-py

[2020-05-23 12:55] MuellerSeb opened #154 "sklearn 0.23 argument issue"
https://github.com/GeoStat-Framework/PyKrige/blob/1a889a7f087ac7c3e852f6e48601f4a60efca260/pykrige/compat.py#L14

This line is not working with the newest version of sklearn, resulting in a missing `mean_train_score`.

I think, this is because they implemented keyword-only arguments there:
https://github.com/scikit-learn/scikit-learn/blob/fd237278e895b42abe8d8d09105cbb82dc2cbba7/sklearn/model_sele

[2020-05-23 13:29] rth commented on #154
Yes, we should switch to `inspect.signature`,
[code]

[2020-05-23 13:50] MuellerSeb commented on #154
@rth: Cool! Could you come up with a PR?

[2020-05-24 17:01] crazyapril opened #155 "Use kriging with external drift to interpolate temperature"
I'm trying to interpolate temperature data with DEM data and kriging with external drift is suggested. The documentation lists several drift terms (‘regional_linear’, ‘point_log’, ‘external_Z’, ‘specified’, and ‘functional’) but I don't know what's the difference and which to use since I'm new to kriging method. Most tutorials about kriging I've read just throw equations and I couldn't relate them

[2020-05-24 17:21] MuellerSeb commented on #155
I can give you a short survey:
- **regional linear drift** is a functional drift, where a linear regional model is fitted automatically with universal kriging (classical case)
- **point-logarithmic drift** is used for water level kriging (see [here](https://ngwa.onlinelibrary.wiley.com/doi/abs/10.1111/j.1745-6584.2002.tb02503.x))
- **external Z drift** is a special feature, where you can provide g

[2020-05-25 15:32] crazyapril commented on #155
Thanks, it helps a lot. I've figured out.

[2020-05-25 15:33] MuellerSeb commented on #155
Cool! Don't forget to cite PyKrige ;-)
Closing.

[2020-05-25 15:33] #155 closed, assigned to MuellerSeb

[2020-05-25 21:24] rth opened #156 "Make develop the default branch"
I think we should make the `develop` the default branch (or switch to master being the development branch altogether).

When users arrive at the repo, they should see the latest code on the main branch, not some other branch. For instance, users would typically make decisions as to how much the project is maintained by looking at commit log, without getting into much detail about the branching mod

[2020-05-25 21:28] MuellerSeb commented on #156
I get your point. We already had this discussion, where I argued, that this is the standard approach for all packages in the GeoStat-Framework, but I think this is a valid objection. I am fine with switching to develop as the default branch. ;-)

[2020-05-25 21:31] MuellerSeb commented on #156
Done.

[2020-05-25 21:31] #156 closed, assigned to nobody

[2020-05-25 21:33] rth commented on #156
I know :) I'm just saying that I don't think that's a good branching model for OSS, in particular on Github where people are used to Github flow. From the original Git flow article that introduced this workflow with the `develop` branch,  https://nvie.com/posts/a-successful-git-branching-model/

We can use release branches, if we need to make bug fix releases.

[2020-05-25 21:34] rth commented on #156
Thanks @MuellerSeb, sorry to be annoying, I appreciate all your are doing for PyKrige currently :)

[2020-05-25 21:37] MuellerSeb commented on #156
It's not annoying, just valid arguing! ;-)
I just like the idea of having a branch, that holds the latest release, which is best suited for the master branch IMHO. But showing the latest development is a good point, since people who are looking on GitHub are most likely interested in the recent development of the code-base.

[2020-05-25 21:46] rth commented on #156
We can do maintenance branches if you would like that as well.
So say you tag 0.9.0 on master and release.
The development goes on on master, but if you realize you need to make a bug fix release 0.9.1 you can create a 0.9.X branch from 0.9.0 tag. Then backport some of changes (e.g. critical bug fixes) to 0.9.X branch, and make a new bug fix release 0.9.1 on that branch, without including all the

[2020-05-25 21:56] MuellerSeb commented on #156
That is why the `1.5.x` branch exists. The develop branch should hold the development for the `v2` version in the future

[2020-05-26 11:39] #154 closed, assigned to MuellerSeb

[2020-06-05 13:15] MuellerSeb commented on #138
In order to be in line with the Tait-Bryan angles, the signs of the `sin` functions should alter with the rotation planes to preserve orientation. (meaning the rotation in xz plane is clockwise in 3D).

[2020-08-03 04:56] Ml0749276 opened #159 "SVD did not converge"
I got this while I tried to OrdinaryKriging in a loop.

Here is part of code

[code]

The error output is as below

[code]

[2020-08-03 14:10] MuellerSeb commented on #159
Hey there!

Where did it say something about SVD as you have written in the title?

Is there really an error? Or is it hanging at this point? If it is hanging, I think it could be at this line:
https://github.com/GeoStat-Framework/PyKrige/blob/b33e5d87fb26abf0c919018bddbed65156d2ed37/pykrige/core.py#L455

Or did you miss to copy the full output? How big is the size of `x` and `y` in you case?

Che

[2020-08-03 18:16] Marion-Nicco opened #160 "Singular Matrix Error"
I am encountering this issue when trying to krige a dataset of 37,000 points (recorded using coordinates x, y and z and value V, euclidean). Unfortunately I can't share the dataset for reproducing the error, as it is confidential.

Here are the steps I took to troubleshoot:
1) Process all the data in smaller subsets of about 10,000 points. This runs fine and takes approx. 10hrs (ok3d only, not the

[2020-08-04 03:19] Ml0749276 commented on #159
Hi Sebastian,

Here is the full script

[code]

I write this script to genarate figures, the size of 'x' and 'y' is 33, and the size of the mesh is [38,87]. During the whole workflow, I read two data files and generate two figures for each one, after the first figure generated successfully, the second one will jump out the error 'SVD did not converge' as attached picuture. In the beginning, I thou

[2020-08-04 09:00] Ml0749276 commented on #159
And another question, this subfigure seems not interpolate correctly, do you have some ideas about this? I can send you all the data if you want, this situation not only appeared here, but many other places.

![image](https://user-images.githubusercontent.com/8676854/89274614-c309bd80-d673-11ea-87e8-84d1f07b2745.png)

[2020-08-05 12:11] MuellerSeb commented on #160
Hey there,

if you are using the pseudo-inv branch, you have to set `pseudo_inv=True` in the `OrdinaryKriging3D` class. (like `verbose=True` in your case) Maybe that helps.

Variogram estimation will be updated with the `v2` version. You can also try to use [`GSTools`](https://github.com/GeoStat-Framework/GSTools) from the current develop branch, there you can setup the variogram estimation yourse

[2020-08-05 12:16] MuellerSeb commented on #159
Also in you case it could help to use the pseudo-inverse version from this branch:
https://github.com/GeoStat-Framework/PyKrige/tree/pseudo_inv

Then you can alter your call:
[code]

Maybe this helps. This will be in the next version.

[2020-08-06 02:39] Ml0749276 commented on #159
Hi Sebastian,

Thanks for your reply, I have tried as you said, it makes no difference.

[2020-08-06 06:35] MuellerSeb commented on #159
Could you check your data for `nan`s and `inf`s? That is often related to a svd problem

[2020-08-19 15:20] MuellerSeb commented on #160
This should be fixed with `v1.5.1` that will be released tomorrow.
Closing for now. Feel free to re-open, if you have further questions.

[2020-08-19 15:20] #160 closed, assigned to MuellerSeb

[2020-08-19 15:20] MuellerSeb commented on #150
This should be fixed with `v1.5.1` that will be released tomorrow.
Closing for now. Feel free to re-open, if you have further questions.

[2020-08-26 07:51] Ml0749276 commented on #159
Hi Sebastian,

I am on a business trip these days, I check the data and no `nan` or `inf` is found.

[2020-08-28 21:54] collord opened #163 "anisotropy angle definitions, pykrige vs gstools"
I'm new and trying to wrap my head around the angle definitions for anisotropy. There seems to be a difference between how pykrige and gstools handle things. Here is a simple ellipsoid visualization that looks like dip (rotation about X) is doubling the angle in the non-gstools variogram, but correct in gstools version. Or tell me where I've gone wrong! Code below.

With gstools:

![ellipsoid_with

[2020-08-30 18:58] mralbu opened #164 "Classification Kriging"
Thanks for this great package! I was introduced to regression kriging reading the documentation and found it super useful.
I've created a ClassificationKriging class adapting RegressionKriging to work with categorical variables, by mapping the scikit-learn classifiers predict_proba simplexes to an isometric space using the [ilr transform](https://en.wikipedia.org/wiki/Compositional_data), and krig

[2020-08-31 09:59] MuellerSeb commented on #164
This sounds interesting! I'll have a look at this, when I've got some spare time.
@mralbu : Can you open a PR with this branch? Even if this is still work in progress, this would be the best place to discuss details ;-)

Thanks for your support!
Seb

[2020-08-31 10:15] MuellerSeb commented on #163
Here I am meeting my nemesis again. But I think there is nothing wrong.
The rotation angle vector in GSTools is sorted by rotation planes called [Tait–Bryan angles or yaw, pitch and roll](https://en.wikipedia.org/wiki/Euler_angles#Tait%E2%80%93Bryan_angles):
1. `xy`-plane angle (corresponds to `anisotropy_angle_z` in PyKrige) -> yaw
2. `xz`-plane angle (corresponds to `anisotropy_angle_y` in PyKri

[2020-09-02 02:26] mralbu commented on #164
Opened pull request #165.

[2020-09-11 19:06] robo-warrior opened #166 "MemoryError: Unable to allocate array with shape (114671, 114671) and data type float64"
I get the following error: MemoryError: Unable to allocate array with shape (114671, 114671) and data type float64

Defining Ordinary Kriging as:

[code]

Where,
min_x = 8084396
min_y = 12073405
max_x = 8084864
max_y = 12073894

I understand that grid_x and grid_y arrays are too big. What can I do in this case to make this work?

[2020-09-14 14:22] hoax-killer commented on #166
I have also faced this same issue in the past, is this a limitation of OK/PyKrige?

[2020-09-14 14:35] MuellerSeb commented on #166
I guess your input arrays `x,y,z` have the size `(114671,)`, correct?
This is much to big for most RAM, so you get a `MemoryError`.

What could help in your case, is to sample from this big amount of data and reduce to about 10.000 ~ 20.000 datapoints:

[code]

Now you can use `x_smpl` instead of `x` for the OrdinaryKriging class.

[2020-09-14 15:17] hoax-killer commented on #166
Thanks @MuellerSeb  for getting back.

At least in my case its not a RAM error. The system has about 396 GB RAM. Moreover, I can read the entire file into the RAM, the file isn't big too. numpy can also load the data into memory, and I am able to run almost all other methods (e.g. KNN, RF, SVC, etc.)  The issue only arose when running `OrdinaryKriging()`.

[2020-09-14 21:04] MuellerSeb commented on #166
When using float64 with an array with a size of 114671*114671 (the cdist matrix), you result in minimum in 100GB of data. And this has at least the same order of magnitude as your provided RAM. With an overhead of numpy and some additional arrays of this kind, RAM can be a problem.
And you have written that you get a MemoryError, which states that you are running out of ram. You could try setting

[2020-09-14 21:08] MuellerSeb commented on #163
@collord did that solve your problem?

[2020-09-14 22:03] collord commented on #163
@MuellerSeb Yes, I think that makes sense and results look right. If the projects are interrelated now, might make sense to standardize on the angle definitions? Thank you again for the hint.

[2020-09-17 12:24] hoax-killer commented on #166
The cause of memory error is more specifically on this line:
https://github.com/GeoStat-Framework/PyKrige/blob/48bc43362218b283bcba51b2c0990b72f7e29fbb/pykrige/core.py#L75

More specifically, in executing `lon1 - lon2`

I am not aware of the specifics of this operation, and why we calculate the difference between `lon1` and `lon2`.
The shapes of both numpy arrays are-

[code]

[2020-09-17 13:25] mjziebarth commented on #166
To chime in, having written that part of the code:

That part of the code is a fairly simple implementation of the third equation of the section Computational formulas of [this Wikipedia article](https://en.wikipedia.org/wiki/Great-circle_distance). It was written using a simple vectorized version of the equation which creates a number of temporary arrays corresponding to terms of the rather large

[2020-09-17 13:54] hoax-killer commented on #166
@mjziebarth Thanks for getting back.

I have about 396 GB RAM, much more than normal limits. Hence, it was a bit surprising to hit the limit which we rarely have with much larger datasets.

TBH, I don't see anything wrong in your code, its just a bit surprising that its hitting the memory limits.

Since we are trying to benchmark, I was hesitant to change the parameters, but worst case, we can swi

[2020-09-21 04:33] robo-warrior commented on #166
Hi, using Euclidean coordinates seemed to work for us. Thank you all for super quick responses!

[2020-09-21 04:33] #166 closed, assigned to MuellerSeb

[2020-09-21 22:30] MuellerSeb commented on #166
That is really interesting! Thanks for sharing.

[2020-10-13 11:55] ehxan139 opened #167 "Why UK is calculating Variogram on the sampled data rather than on the detrended sample residuals?"
Hi

   First of all thankyou for doing a wonderful job with the PyKrige package. It's very well written and documented.

   I have a small query regarding the UK algorithm in the package  (**uk.py**) and was wondering if you can help me out. In your implementation of the UK, you have used variograms calculated from the sample data (e.g. in function **_get_kriging_matrix()**). However, in the refer

[2020-10-14 08:35] MuellerSeb commented on #167
That is a good question. Let's try to answer:

In literature, the term **detrending** is handled very differently in terms of kriging. We have several algorithms that deal with this:
- Universal Kriging (UK): an internal/functional **drift** is given and represented in the kriging matrix. The drift terms can be evaluated functional from input and output points by the given drift-functions (e.g. re

[2020-10-14 08:45] MuellerSeb commented on #163
@collord we will do so in the future, since the GSTools CovModel will be the standard way to provide the model.

[2020-10-14 08:45] #163 closed, assigned to MuellerSeb

[2020-10-20 00:44] ehxan139 commented on #167
Hmmm... this makes sense now. I missed the part that the drift function is actually included in the kriging matrix. I will look into regression kriging as well to see if it fits my problem better.  Thank you for such an awesome job and contribution.

[2020-10-20 00:44] #167 closed, assigned to MuellerSeb

[2020-10-20 05:14] WuJunxu opened #168 "The maximum grid size?"
OrdinaryKriging: I run with 100 samples and 1000x1000 grid size, got MemoryError, but succeed with 500x500, so how large grid size can be supported?

[2020-10-21 00:51] hoseinsalehi opened #169 "Interpolation for time seri"
Hello
I want to do an interpolation point for a period of 15 years using 10 stations. Is there a way to use this package?

[2020-10-21 07:32] MuellerSeb commented on #169
Hey there,

That is depending on what you want to do. You should be a bit more specific and have a look at the documentation. And you can always contribute to the package, if you see a lack of features, since this is a community project.

Daily interpolation of data? I think so.
Spatio-temporal interpolation? No, up to now, we don't support spatio-temporal variograms.

Cheers,
Sebastian

[2020-10-21 07:52] MuellerSeb commented on #168
Hey there,

it is depending on the memory size of your system. For example, I have 16GB of memory installed and I don't have a problem with a grid-size of `1000*1000`. The kriging matrix has a size of at least `n_samples * n_samples` and the right-hand-side of `n_samples * n_grid_pnts`.

To get an impression, have a look at the following code:
[code]
So a numpy array of the size `2^15 * 2^15` take

[2020-10-21 11:38] hoseinsalehi commented on #169
Hi @MuellerSeb,
Thanks for your reply.
Yes, I want to do interpolation for daily precipitation data using observation stations and develop a precipitation network for a basin.
If the code can be modified to take inputs from an Excel or text file and done in a loop, I can be achieved.

I'm not a developer and I'm not even sure if my idea is right.

[2020-10-23 16:24] MuellerSeb commented on #169
That should be easily possible without modification of PyKrige itself. To read excel files you should have a look at [pandas](https://pandas.pydata.org/).

Good luck!

Sebastian

[2020-10-23 16:24] #169 closed, assigned to MuellerSeb

[2020-11-12 11:11] MuellerSeb commented on #138
Some links:
https://en.wikipedia.org/wiki/Givens_rotation
https://en.wikipedia.org/wiki/Davenport_chained_rotations

[2020-11-18 09:35] jonathf opened #170 "Polynomial Chaos Kriging"
Hello,

I am the maintainer of an uncertainty quantification library [chaospy](https://github.com/jonathf/chaospy).
A user of my software has asked a question about using chaospy to do so kalled Polynomial Chaos Kriging. See jonathf/chaospy#300 for the details.

Following the idea of trying to implement this, would it be possible to provide Universal Kriging in PyKrige with linear trend polynomial

[2020-11-18 10:30] MuellerSeb commented on #170
Hey @jonathf!
This sounds like a good idea for a work-together! in PyKrige, you can provide a list  of callable drift functions for Universal kriging.
This is also possible in [GSTools](https://github.com/GeoStat-Framework/GSTools) and PyKrige will be relying on that in the future.
- [Here](https://geostat-framework.readthedocs.io/projects/gstools/en/stable/examples/05_kriging/05_universal_kriging

[2020-11-18 11:18] jonathf commented on #170
Yeah, a work-together on this was what I had in mind.

So it has been a few years since I did Spacial statistics and Kriging, so I appolgies for being a bit rusty on the termonology.
And yes linear trend polynomials is a contradictory in terms. But in my defence as a statistician, polynomial regression model `sum(coeffs*polys)` is still linear in terms of the coefficients.

I take my definition of

[2020-11-18 11:30] MuellerSeb opened #171 "Python 3.9 wheels"
Python 3.9 was released on 5.10.2020. We should provide wheels for it!

[2020-11-18 12:03] MuellerSeb commented on #170
If you want to fit the coefficients of the polynomials during kriging, Universal-Kriging is the right choice.
If the coefficients are fitted beforehand, you should subtract the trend from the data and apply Ordinary-Kriging to the residuals.

ASFAIU you come up with a set of polynomials with the so-called "LARS" method, right?
Both, GSTools and PyKrige, provide the option to pass callable function

[2020-11-18 12:29] jonathf commented on #170
So in principle LARS does two things at the same time:
1. selects a set of polynomials from a candidate pool.
2. caclulate coefficients using regularized polynomial regression.

It is a search question where (1) and (2) are coupled. In practice one usually see these two steps defined together, not as separate steps.

From what you are telling me now, and reading the UQLab docs once more (I don't h

[2020-11-19 11:40] keua opened #172 "What is the difference between Universal Kriging and Regression Kriging?"
Hello guys, I'm currently using the Pykrige library for doing traffic volume interpolation in a road network Currently I use ordinary kriging, but I would like to improve my estimations by adding extra information, so I'm thinking on use Universal Kriging or Regression Kriging. From the link, you provide in the documentation https://en.wikipedia.org/wiki/Regression-kriging, it seems that these two

[2020-11-19 11:54] MuellerSeb commented on #172
An answer was given here: #167

Universal- and Regression-Kriging both deal with a given drift or trend.

In literature, the term **detrending** is handled very differently in terms of kriging. We have several algorithms that deal with this:
- Universal Kriging (UK): an internal/functional **drift** is given and represented in the kriging matrix. The drift terms can be evaluated functional from in

[2020-11-20 07:35] jonathf commented on #170
I replicated the 1-D intro example from UQlabs webpage. Here is a demo I plan to publish:
https://chaospy.readthedocs.io/en/docs/tutorials/gstools_kriging.html
A multi-dimensional model should be straight forward from here.

I've also gotten hold of the PCK paper UQLabs made.
It defines two approaches: sequential and optimal PCK. Based on the LARS implementation in scikit-learn, I was able to do t

[2020-11-20 10:07] keua commented on #172
Thank you very much, the differences are clear now. Just to be sure, EDK is not implemented in Pykrige, right? Is there any other package to implement EDK?
Again thanks for your answer,
Keneth

[2020-11-20 15:00] codename5281 opened #173 "No specified drift in loop-based calculation of Universal Kriging ?"
Hello and thanks for your tool,
I am trying to perform a UK with specified drift on a rather large matrix, thus i activated the `backend="loop"` argument. However the returned output corresponds to a UK without drift. Is that a behavior to be expected ?
Thanks in advance,
Best,
J.

[2020-11-20 17:13] keua commented on #172
Hello again,
Going through the issues I found this #155

I will specifically point out to the **specified drift** where you mention that this option is the classical form of external drift kriging. Is it correct then, to say that using the implementation of UK with specified drift corresponds to EDK?

[2020-11-22 00:00] MuellerSeb commented on #172
That is correct! :wink:

[2020-11-22 00:57] MuellerSeb commented on #173
I need to take a closer look at this. Sounds strange to me.

[2020-11-22 14:55] codename5281 commented on #173
Ok thanks, let me know if you need more info about how this issue is happening for us.

[2020-11-22 16:29] MuellerSeb commented on #173
@codename5281 : a minimal example to reproduce your problem would be good either way!

[2020-11-22 18:15] codename5281 commented on #173
Sure. Here is the code i am using :

[code]
This returns the following, which is correct with what is expected:
[code]
![image](https://user-images.githubusercontent.com/44723543/99911656-39e7c680-2cf6-11eb-9ce1-d5fe81733422.png)

However, expliciting the argument `backend="vectorize"` throws the following error : `ValueError: Specified backend vectorize is not supported for 2D universal kriging.`

[2020-11-23 07:50] keua commented on #172
Thanks again for your answer and for your work with the package.

[2020-11-23 07:50] #172 closed, assigned to MuellerSeb

[2020-11-25 10:30] jonathf commented on #170
I've updated the link to be address a 2D problem:
https://chaospy.readthedocs.io/en/docs/tutorials/gstools_kriging.html

There are a few caveats worth noting.
A) Lars is not Lars. It is a custom procedure referenced in the article with its own version of Jackknifing/LOO. Im using sklearn.LarsCV, as the latter requires a lot more work than I have time for.
B) Depending on the expansion output I am

[2020-11-25 10:55] MuellerSeb commented on #170
@jonathf

I am a bit puzzled by this formula. I think it should be `\sigma Z(x)`, since this is the correct formula to have a gaussian distribution with zero mean and a given standard deviation (See [link](https://en.wikipedia.org/wiki/Normal_distribution#General_normal_distribution)). Assuming this, `sigma^2` refers to `var` in GSTools and is fixed by setting it in the model. On the other hand, y

[2020-11-27 13:28] MuellerSeb opened #174 "Bug: Drift function applied to isotrope coordinates"
This is a bug in my opinion:
https://github.com/GeoStat-Framework/PyKrige/blob/48bc43362218b283bcba51b2c0990b72f7e29fbb/pykrige/uk3d.py#L166

In GSTools, drift is applied to the input coordinates and I think this should be done here as well.

@rth @bsmurphy @mjziebarth opinions?

[2020-11-30 23:55] bsmurphy commented on #174
Sorry for the slow response on this, @MuellerSeb. I wouldn't necessarily call it a bug (since I think the kriging system is happy solving for the drift terms in any arbitrary coordinate system), but I do agree that maybe this implementation is suboptimal. (For example, if you wanted to extract the drift values and actually use them for something, having them calculated in the adjusted coordinate s

[2020-12-01 14:41] jonathf commented on #170
Yeah the `\sigma^2` thing is weird. I am wondering if it is a typo.

Good to know about the Singular Matrix issue. I will explore.

At this point, the way forward is to implement the "custom" LOO method. If/When I have some spare time, I might give it a try. I'll see where we get.
If this approach succeeds and it starts producing better fits as the paper claims.

Next time I have something to repo

[2020-12-09 14:26] FlashThunder opened #176 "Returning only one value (straight line)"
Why doesn't it even try to interpolate the given values? just returns single value for every y: 2356.24193548.

[code]

[2020-12-09 14:56] MuellerSeb commented on #176
Having a look at the estimated variogram parameters:
[code]
This reveals that a pure nugget model was estimated (flat slope, high nugget). Therefore the constant output.

Tinkering around with your input data reveals, that estimating and fitting a variogram is rather hard, since spatial correlation is hard to find. so maybe another routine for interpolating your data could be better.

[2020-12-09 17:08] FlashThunder commented on #176
Oh ok, I understand that my data doesn't fit to interpolate that way. But could You give me a hint on how to fix it? And be able to use it to estimate the missing data, as well as "correct" values? The model seems to work great on examples. It is hard to make a custom variogram, as data differs. I would like to use it to fill missing data (clouds etc) on Sentinel 2 images. I mean having values fro

[2021-01-29 22:35] markbroich commented on #168
Hello Sebastian,

tnx for your prior msg.

Are 1k^2 points w 16 gb ram still the ~limit? Does it matter if style = ‘grid’ or ‘points’?
Also, does krig in R have similar constrains re the max number of points?
I generally prefer python but I may need to interpolate some rather large datasets.
Just curious.

Tnx for your work. Bis bald, Mark

[2021-03-22 23:21] ghost opened #177 "General question"
Hi, I am Civil Engineering graduate student, I would like to use kriging to obtain the correlation and the surface between 2 laboratory input data and one laboratory result output data. However, I do not have a strong statistics background. I was wondering, if you can give some kind of guidance on what to do.

My problem is about experimental centrifuge soil models, there I can define two input da

[2021-03-23 13:03] MuellerSeb commented on #177
Could you provide some more information?

If you want to interpolate measured data, kriging is totally fine and you could for example start with this tutorial:
https://geostat-framework.readthedocs.io/projects/pykrige/en/stable/examples/00_ordinary.html#sphx-glr-examples-00-ordinary-py

If you just want to obtain correlation I think you could use variogram estimation provided by [GSTools](https://

[2021-03-23 13:06] #177 closed, assigned to nobody

[2021-03-23 13:06] #168 closed, assigned to MuellerSeb

[2021-03-30 13:30] jtilson opened #181 "Is PyKrige able to determine Simple kriging"
Hello Folks, PyKrige 1.5.1 is nice. Q: Can I use PyKrige to perform a simple kriging while declaring the mean to be zero?
Regards,
jeff

[2021-03-30 19:17] jtilson commented on #181
Is already avail in GSTools

[2021-03-30 19:17] #181 closed, assigned to MuellerSeb

[2021-03-30 21:22] MuellerSeb commented on #181
@jtilson you just gave the right answer ;-)

Since PyKrige will reuse the Routines of GSTools in the future, you can just use this. I also want to point out that the Gaussian Processes submodule of scikit-learn (https://scikit-learn.org/stable/modules/gaussian_process.html) is basically simple kriging.

Cheers,
Sebastian

[2021-03-30 21:29] MuellerSeb commented on #138
This is now solved in GSTools and will be used in PyKrige in the future:
- https://github.com/GeoStat-Framework/GSTools/pull/109
- https://github.com/GeoStat-Framework/GSTools/pull/112

[2021-03-30 21:33] MuellerSeb commented on #149
This is now solved in GSTools and will be used in PyKrige in the future:
- https://github.com/GeoStat-Framework/GSTools/pull/113

[2021-03-30 21:44] MuellerSeb commented on #181
Also see: #152

[2021-03-31 12:05] jtilson commented on #181
Thank you Sebastian

-------------------------------------------

Jeffrey Tilson

Senior Research Scientist

Renaissance Computing Institute

UNC Chapel Hill

(919) 445-9657

________________________________
From: Sebastian Müller ***@***.***>
Sent: Tuesday, March 30, 2021 5:22 PM
To: GeoStat-Framework/PyKrige ***@***.***>
Cc: Tilson, Jeffrey L ***@***.***>; Mention ***@***.***>
Subject: Re: [GeoS

[2021-04-03 20:32] MuellerSeb commented on #164
Merged into develop.

[2021-04-03 20:32] #164 closed, assigned to nobody

[2021-04-03 20:34] MuellerSeb commented on #171
Done with #175

[2021-04-03 20:34] #171 closed, assigned to MuellerSeb

[2021-05-17 03:03] flydream0428 opened #194 "Cokriging support"
Can we do cokriging with the current implementation?

[2021-06-04 13:10] flydream0428 opened #195 "Is there an example for variogram modelling/fitting?"
Hi, I am trying to find an example to apply PyKrige to some real-world data. Is there such an example around? I may have missed something, but I cannot find it in the doc. For example, I cannot find an example to discuss how to model a suitable variogram. Thanks.

[2021-06-04 15:02] MuellerSeb commented on #195
Since PyKrige now is able to use covariance-models from GSTools, you could model your variogram with GSTools and pass this model to the PyKrige class.

Variogram modelling tutorials:
- https://geostat-framework.readthedocs.io/projects/gstools/en/stable/examples/03_variogram/index.html

PyKrige Interface:
- https://geostat-framework.readthedocs.io/projects/gstools/en/stable/examples/05_kriging/02_p

[2021-06-05 10:18] WuJunxu commented on #150
I also encounter this bug with pykrige==1.60 and 1.51, python==3.9, how could I solve this problem?
With approximately 700 interp points, two Group 1 succeccfuly interpolated, but Group 2 failed with 'LinAlgError: singular matrix'.

[2021-06-05 12:04] flydream0428 commented on #195
Thanks, it helps a lot.

[2021-06-05 12:04] #195 closed, assigned to nobody

[2021-06-05 14:58] MuellerSeb commented on #150
Did you use the speudo inverse?

[2021-06-06 08:04] WuJunxu commented on #150
I am sorry. What is speudo inverse?

[2021-06-06 10:25] MuellerSeb commented on #194
No. But there is an issue and a project item for this for the next release. We are always looking for contributions!

Will close this in favor of #59

[2021-06-06 10:25] #194 closed, assigned to nobody

[2021-06-06 10:29] MuellerSeb commented on #150
https://geostat-framework.readthedocs.io/projects/pykrige/en/stable/generated/pykrige.ok.OrdinaryKriging.html#pykrige.ok.OrdinaryKriging

You can set `pseudo_inv=True` in all kriging routines to solve the kriging system with more robust numerical approaches.

[2021-06-07 09:53] jlemond opened #196 "Find optimal parameters for UK with external drifts"
Hello,

I currently use your very useful kriging package PyKrige for Universal Kriging with 2 external drifts (gridded temperature and gridded elevation) as follow:
[code]
where:
lon= longitudes of stations,
lat= latitudes of stations,
temp= the temperature values of stations that I want to krige,
z= the elevation of stations used as external drift,
raw= the temperature values used as external dri

[2021-06-07 10:11] MuellerSeb commented on #196
The `Krige` class doesn't support external drift kriging at the moment.

I extended the original class last year to be able to use universal kriging, but since external drift kriging needs a specified drift at the output locations, I didn't know how to properly pass them.

This was decided here: https://github.com/GeoStat-Framework/PyKrige/pull/158#issuecomment-659968767

We need further discussio

[2021-06-07 12:13] MuellerSeb commented on #196
For now you could use `ext_drift_grid` of the `Krige` class And use a grid defined with the external drift, where all values are extracted during calculation. But that only works for 2D.

See:
https://geostat-framework.readthedocs.io/projects/pykrige/en/stable/generated/pykrige.rk.Krige.html#pykrige.rk.Krige

[2021-06-07 13:13] Amos-Zhao opened #197 "BUG: write_asc_grid function does not run as expected"
### kriging_tools.py  line 73
I got  abs((x[-1] - x[0]) / (x.shape[0] - 1))   calculated as 0.999999999999998 , while dx   calculated as 1, so the function didn't work.
Is there any way to overcome this problem

[2021-06-07 13:50] MuellerSeb commented on #197
Hey there,

I see the problem:
https://github.com/GeoStat-Framework/PyKrige/blob/09fe0183aa8e47ceb585a67408e08a4a4ffaced9/pykrige/kriging_tools.py#L74

This should be implemented with a safer comparison of floats.

Could you give a minimal example to reproduce this behavior? maybe you could also correct the values for `x` and `y`, to make the routine work.

Cheers, Sebastian

[2021-06-07 13:54] Amos-Zhao commented on #197
[code]
[dem.txt](https://github.com/GeoStat-Framework/PyKrige/files/6609525/dem.txt)

[2021-06-07 13:57] Amos-Zhao commented on #197
I'm trying to convert result[z] to asc file by using `numpy.savetxt("filename.txt",a)` and following code

 z = np.flip(z, axis=0)
 np.savetxt("result.asc",z)

Thanks for your response.

[2021-06-07 14:58] MuellerSeb commented on #197
But remember that just because of the `*.asc` ending, this is not a valid ESRI-Grid file.

[2021-06-17 17:04] MarkTNO opened #198 "zmap IO"
Good evening,

I have used PyKrige for our research at TNO, which is really helpful!
I have added .zmap (useful for Petrel and QGIS) reading and writing functionality to kriging_tools.py. Would you be interested in adding this?
I tried to push my branch but did not get permission to do so.

Kind regards,
Mark Vrijlandt
TNO

[2021-06-17 21:23] MuellerSeb commented on #198
Hey there,
nice to hear. We are always interested in contributions. Could you create a pull request? Then I can review your additions :wink:

Cheers, Sebastian

[2021-06-25 18:25] #197 closed, assigned to MuellerSeb

[2021-06-25 18:25] #198 closed, assigned to MuellerSeb, MarkTNO

[2021-07-12 07:21] sunshineYin opened #200 "how to custom variogram_function with non-parametric meachine learning models like SVR, RF, MLP etc."
Hello,

I want to make modifications on variogram_functions of kriging interpolation.

Because I think the categories of existing variogram_functions are not really enough, and the fitting effect is also not really good. So I want to use some non-parametric models, such as svr, random forest, mlp, etc. to fit the variogram function, because they have larger capacity.

The question is: in this case

[2021-07-12 09:11] MuellerSeb commented on #200
Hey there,

keep in mind, that variogram functions need to fulfill some mathematically requirements like *conditional negative semidefiniteness* (CNSD), so the estimated kriging variance is always non-negative (see Webster 2007).

For references on valid variogram models see here:
- Hans Wackemagel (2003): Multivariate Geostatistics
- Webster & Oliver (2007): Geostatistics for Environmental Scient

[2021-07-12 09:12] #200 closed, assigned to MuellerSeb

[2021-07-12 09:12] #176 closed, assigned to MuellerSeb

[2021-07-12 09:13] #140 closed, assigned to nobody

[2021-07-12 10:34] MuellerSeb commented on #132
Closing due to inactivity. Feel free to reopen. PRs are always welcome!

[2021-07-12 10:34] #132 closed, assigned to nobody

[2021-07-13 08:37] MuellerSeb commented on #152
Another problem with simple kriging and the current implementations in PyKrige is:

Simple kriging depends on the covariance function of a variogram model to build up the kriging system. Since PyKrige features unbounded models (that don't have a covariance, since there is no finite sill) and the kriging matrix is build up with variogram values, we would need to differentiate between bounded and un

[2021-07-20 18:24] OusBNH opened #208 "kriged grid with the style 'masked'"
Hello and Thanks for your tool,
I am trying to use the style 'masked' for a basin but i don't understand  how i can use the Parameters mask.
[code]
so the objectif is to calculate the uk just inside the basin.
![bassin.PNG](https://user-images.githubusercontent.com/30392156/126408588-cd097c0c-2b05-4930-bc75-3d920157378c.PNG)

[2021-07-21 15:55] #208 closed, assigned to nobody

[2021-08-04 14:20] Empanag opened #210 "Kriging for geotif image"
Hello, i m trying to use kriging to tiff image. the image is that below with number 1 that can be used as an array, it is regular grid. the 2nd image is the one that saga simple kriging module generates. I 'd like to produce a similar product using python. Is it possible somehow PyKrige? I tried with the example "ordinary kriging" that there is in the site  had but the product was the same with in

[2021-08-12 13:47] Empanag commented on #210
i tried the code below but the product is the same with the input image

[code]

[2021-09-02 09:00] MuellerSeb opened #212 "branching: use single "main" branch"
We should simplify our branching structure and use the new default "main" that was suggested by GitHub:
- https://github.blog/changelog/2020-10-01-the-default-branch-for-newly-created-repositories-is-now-main/
- https://github.com/github/renaming
- https://github.blog/changelog/2020-07-17-links-to-deleted-branches-now-redirect-to-the-default-branch/

Things to take care of:
- image links in `READM

[2021-09-02 09:36] MuellerSeb commented on #212
Done.

[2021-09-02 09:36] #212 closed, assigned to MuellerSeb

[2021-09-02 10:44] MuellerSeb commented on #156
#212 solved this now.

[2021-09-05 17:03] MuellerSeb commented on #149
This issue should also mention, that we need to implement geographic coordinates for universal kriging.

[2021-11-01 19:37] goriliukasbuxton opened #214 "Replicating Empirical Bayesian Kriging functionality"
Has anyone done similar work like this tool? to get most optimal parameters for Kriging
https://pro.arcgis.com/en/pro-app/latest/help/analysis/geostatistical-analyst/what-is-empirical-bayesian-kriging-.htm

[2022-01-09 08:03] Mercuron opened #217 "problem with geographical coordinates and GSTools Covmodel"
Hi all!

1) I can't figure out how to beat the dim error. I set dim=2, but there is still error _ValueError: GSTools: model dim is not 1 or 2_.  It's probably very silly, but I can't find where it is.

2) Why there is no predict method in the description of OK and UK methods? How then to predict results on new points?

[values.csv](https://github.com/GeoStat-Framework/PyKrige/files/7834647/values.

[2022-01-15 23:59] MuellerSeb commented on #214
Isn't this the way sklearn fits the gaussian processes kernels?
https://scikit-learn.org/stable/modules/gaussian_process.html

[2022-02-03 15:34] askar-INTERA opened #218 "3D kriging takes very long time to execute"
Hi I am doing 3d ordinary kriging using 50 points that yield the values that I want to interpolate over 448 points only. This takes forever to be executed and I am not sure why, can you please help.

HK = pd.read_csv ('HK_3D.csv')
PP = pd.read_csv ('PP_HK_3D.csv')
parameters={'sill': 15.0, 'range': 30, 'nugget': 0.0}
ok = OrdinaryKriging3D(PP['x'], PP['y'], PP['z'], PP['k'], variogram_model = "exp

[2022-02-25 19:38] JuHolland opened #219 "Bug: Problem when ordinary kriging with backend = 'C'"
Hi all,

I get very different results when doing Ordinary Kriging with the `backend = 'loop'` and `backend = 'C'`:

[code]

Output:

![image](https://user-images.githubusercontent.com/33092664/155781025-df34f9c8-3f44-42f9-b150-fd77ff11941c.png)

There seems to be a problem with the variogram sill when doing ordinary kriging with an exponantial variogram and `backend = 'C' `. At instantiation of th

[2022-03-06 09:23] OrdinarySK opened #220 "regression krige"
Hello, how do I give the formula in using regression krige likes zin~slope+aspect in R package 'gstat'.

[2022-03-28 14:39] ivan-marroquin opened #223 "Issue when running execute for universal kriging 3d"
Hi,

Many thanks for such great package!

I am using PyKrige 1.6.1 and noticed the following error message when executing universal kriging 3d:
- define an object based on UniversalKriging3D using 'specified' drift terms
- define execute object using style as points along with specified drift arrays

The produced error message is as follows:
residual_predict, residual_variance= model.execute(style

[2022-04-20 09:58] MuellerSeb commented on #217
Hi there,

sorry for the late reply. This is a compatibility issue between GSTools and PyKrige. You were using the latlon mode of the Spherical model and PyKrige doesn't check for that correctly.

I need to investigate this.

[2022-04-20 09:59] MuellerSeb commented on #218
That is strange. Have tried to do the same with GSTools?

I would also need some more information.

[2022-04-20 10:00] #218 closed, assigned to nobody

[2022-04-20 10:01] MuellerSeb commented on #219
Thanks for pointing this out.

Would you mind creating a PR to fix this?

[2022-04-20 10:02] #220 closed, assigned to nobody

[2022-04-20 10:04] MuellerSeb commented on #223
Would you mind creating a PR to fix this? There we could discuss further on what was happening.

[2022-04-20 10:15] MuellerSeb commented on #217
This only affects `OrdinaryKriging`, since the support for geographic coordinates in `UniversalKriging` was not implemented.

TODOs:
- fix `pykrige_vario` in GSTools, to return the yadrenko variogram if using latlon.
  https://github.com/GeoStat-Framework/GSTools/blob/5161e58419578beed74831e79d970a90f6975fa2/gstools/covmodel/base.py#L324
- check for `field_dim` rather than `dim` when using latlon

[2022-04-20 10:36] MuellerSeb commented on #149
#217 is related.

[2022-05-02 15:42] XudongF opened #227 "Kriging model validation process"
Hi, I am still new to the Kriging algorithm. I wonder how to evaluate a fitted Kriging model? The cross-validation is a little confusing to me. I think I should remove a point, use the kriging model to predict that point, and repeat this process. But it seems once the model is fitted, there is no way to change the 'reference points' in PyKrige? In other words, the PyKrige model will always give th

[2022-05-03 09:33] nimafo opened #228 "-"

[2022-05-23 18:33] sachin9390 opened #230 "can we write the output from RegressionKrigging on grid/raster and could you please explain these **args, **kwargs ?"

[2022-05-23 18:34] #228 closed, assigned to nobody

[2022-05-23 18:36] MuellerSeb commented on #228
Moved here: https://github.com/GeoStat-Framework/PyKrige/discussions/229

[2022-05-25 19:58] #219 closed, assigned to nobody

[2022-05-25 20:02] MuellerSeb opened #231 "CI broken"
ATM CI is not running with the following error:
[code]

[2022-06-10 09:56] Weiss1hexe opened #232 "Consider the height when kriging #Pykrige"
Hi I am creating an isoscape model in which I am plotting 2H and 18O of precipitation. Until now I have always used ordinary kriging for the interpolation, but I am somewhat dissatisfied with the results. Since the data I use for interpolation comes from the precipitation, I assume that the expected value cannot be constant. However, this is assumed with ordinary kriging. Since universal kriging a

[2022-06-13 22:25] rmartell opened #233 "M1 Silicon Build (linux/arm64)"
Any thoughts on getting an M1 Build?  I'm having to run in a docker container with an emulated processor on an M1 Mac.

I'm not familiar with Python toolchains, but would be more than happy to try and troubleshoot if you can give me some pointers for building.

[2022-06-23 09:26] guidocioni commented on #155
Sorry for reviving this old thread but just to make sure I understand...
If x, y, z, h are the coordinates, values and altitude of some weather stations and lon, lat, hi are the coordinates and altitude of the DEM, then I would do something like this

[code]

right?

[2022-07-01 13:47] patricia-oliveira-gaivota opened #234 "Export kriging as raster"
Hello, everyone!
I am following this tutorial here to do kriging to Brazil temperature: https://geostat-framework.readthedocs.io/projects/gstools/en/stable/examples/08_geo_coordinates/01_dwd_krige.html#
I did Universal kriging and plot the map exactly as the code explains. But now I want to export the interpolation result as a raster. How can I do this?

[2022-07-21 23:20] cerodell commented on #155
Hello! I am trying to krig with external drift. I am using the following setup.

[code]
I thought this was the correct way to set up to krig with external drift, but I received the following error.

[code]

Im currently using pykrig version 1.6.1

I'm not sure what I'm doing wrong. Any help is greatly appreciated :)

[2022-07-21 23:24] cerodell opened #235 "AttributeError: 'UniversalKriging' object has no attribute 'external_Z_array'"
Hello! I am trying to krig with external drift. I am using the following setup.

[code]
I thought this was the correct way to set up to krig with external drift, but I received the following error.

[code]

Im currently using pykrig version 1.6.1

I'm not sure what I'm doing wrong. Any help is greatly appreciated :)

PS I also posted this here but thought I should open a new issue.
https://github.

[2022-07-24 16:02] cerodell commented on #235
I found the source of the issue. On line [419](https://github.com/GeoStat-Framework/PyKrige/blob/d9968e35e10c9ad879ba62fad865012b35b8a163/pykrige/uk.py#L419) in `uk.py` `self.external_Z_drift = np.array(external_drift.T)` is incorrectly defined. it should be `self. external_Z_array = np.array(external_drift.T)` and it works.

Or I just need to transpose my external_drift array prior.

[2022-08-01 14:17] bmag opened #236 "Incompatible with SciPy 1.9.0, AttributeError on scipy.linalg.pinv2"
SciPy released version 1.9.0 three days ago, and in that version they removed `scipy.linalg.pinv2` [1]. Latest PyKrige (version 1.6.1) tries to access this function at import time, causing an AttributeError. According to SciPy 1.7.0 release notes, `scipy.linalg.pinv` can replace the usage of `scipy.linalg.pinv2` [2].

Steps to reproduce:
1. Create a new virtual environment, activate it, and instal

[2022-08-08 16:10] jreniel commented on #236
Came here with exactly this same problem. A temporary fix is to downgrade scipy to version 1.5.4.

[2022-08-09 12:51] MuellerSeb commented on #233
We already implemented this for GSTools and I will apply the same procedure for the next PyKrige release.

[2022-08-09 12:53] #232 closed, assigned to nobody

[2022-08-09 12:55] #230 closed, assigned to nobody

[2022-08-09 12:58] #227 closed, assigned to nobody

[2022-08-09 13:01] #234 closed, assigned to nobody

[2022-08-10 10:34] #236 closed, assigned to MuellerSeb

[2022-08-10 10:38] MuellerSeb commented on #150
Closing due to inactivity. Open a discussion for further questions.

[2022-08-10 10:38] #150 closed, assigned to MuellerSeb

[2022-08-10 11:49] MuellerSeb commented on #210
See: https://github.com/GeoStat-Framework/GSTools/discussions/199

[2022-08-10 11:49] #210 closed, assigned to nobody

[2022-08-10 11:50] MuellerSeb commented on #159
Closing due to inactivity.

[2022-08-10 11:50] #159 closed, assigned to MuellerSeb

[2022-08-10 11:57] #196 closed, assigned to MuellerSeb

[2022-08-10 12:56] #231 closed, assigned to MuellerSeb

[2022-08-10 12:56] #233 closed, assigned to MuellerSeb

[2022-08-10 13:51] MuellerSeb opened #246 "GSTools 1.4 requirement for PyKrige 1.7"
For PyKrige 1.7, GSTools 1.4 needs to be released: https://github.com/GeoStat-Framework/GSTools/milestone/14

This affects:
- https://github.com/GeoStat-Framework/PyKrige/pull/245
- https://github.com/GeoStat-Framework/PyKrige/pull/242 (pinv2 bug -> re-enable gstools tests)

[2022-08-10 13:58] MuellerSeb commented on #235
Hi there! Thanks for this bug report. It will be fixed in the next release.

Cheers, Sebastian

[2022-08-10 14:07] MuellerSeb commented on #223
I guess you only need to add brackets (`[...]`) around your `specified_drift_arrays` and convert them to numpy arrays. I assume you are using only one array for the specified drift, but that has to be supplied as a list with that one numpy array as only element:
[code]
This is also stated in the doc-string of that method.

[2022-08-10 14:07] #223 closed, assigned to MuellerSeb

[2022-08-10 14:08] #214 closed, assigned to nobody

[2022-08-10 14:14] MuellerSeb commented on #173
I am a bit puzzled.
1. it should be `backend="vectorized"` (with a "d" at the end)
2. where did you set `vectorize="loop"`? There is no option `vectorize`
3. From the code I at least think that `backend="loop"` should respect the specified drift.

[2022-08-10 14:15] #173 closed, assigned to MuellerSeb

[2022-08-10 16:12] #235 closed, assigned to MuellerSeb

[2022-08-18 18:05] #217 closed, assigned to MuellerSeb

[2022-08-18 18:05] #246 closed, assigned to MuellerSeb

[2022-08-23 10:47] JuHolland opened #255 "Bug: Problem with exact_values when ordinary kriging with backend = 'C'"
Hello,

It seems that the `exact_values` boolean parameter is inverted when doing Ordinary Kriging with the backend = 'C'.

When setting `exact_values = True`:
[code]
Output:

![image](https://user-images.githubusercontent.com/33092664/186138478-3e9b0fff-7a77-441c-ad0d-5bfbb039fc1d.png)

And when setting `exact_values = False`:

![image](https://user-images.githubusercontent.com/33092664/186139003

[2022-08-23 10:56] MuellerSeb commented on #255
Good catch!

Problem is here:
https://github.com/GeoStat-Framework/PyKrige/blob/4b2ce01d1fd4b769f640b912a69ed2b513d6e1e4/src/pykrige/lib/cok.pyx#L69
The `not` is wrong.

And here, the condition check is even missing:
https://github.com/GeoStat-Framework/PyKrige/blob/4b2ce01d1fd4b769f640b912a69ed2b513d6e1e4/src/pykrige/lib/cok.pyx#L163

[2022-08-23 11:10] MuellerSeb commented on #255
Bug was introduced here: https://github.com/GeoStat-Framework/PyKrige/commit/ffbd472996a9c1da10e5d78423f848555338efaf

PR #256 should fix this.

[2022-08-23 13:41] #255 closed, assigned to MuellerSeb

[2022-08-29 11:55] jreniel commented on #236
@MuellerSeb Thanks for fixing this! =)

[2022-10-11 06:29] AriesChen-UPC opened #260 "search radius"
### Ordinary Kriging
Is it possible to set the search radius？

[2022-10-13 07:00] MuellerSeb commented on #260
Not yet. One can only specify the number of nearest neighbors to be used.

[2022-10-13 07:01] MuellerSeb commented on #260
See here: https://github.com/GeoStat-Framework/PyKrige/issues/41

[2022-10-13 09:21] AriesChen-UPC commented on #260
Okay, thank you for your reply!

[2022-10-13 09:21] #260 closed, assigned to nobody

[2022-11-04 21:51] cesarofs opened #261 "Bug: pykrige.ok using deprecated function from SciPy 1.7.0"
scipy.linalg.pinv2 is called by pykrige.ok for function OrdinaryKriging but this function is deprecated since SciPy 1.7.2, now SciPy is under version 1.9.2
When using SciPy version > 1.7.1, PyKrige does not works

[2022-11-04 22:06] MuellerSeb commented on #261
This is already solved by #237

Please update to the latest version of pykrige